body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#dogImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    margin: 10px;
    border: 1px solid #000000;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
